<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="secureAccountsSection" type="Security.PasswordManagement.PasswordVault.Configuration.PVSecureAccountSection, Security.PasswordManagement.PasswordVault" />
    <section name="encryptedAccountsSection" type="Security.PasswordManagement.Encryption.Configuration.EncryptedAccountSection, Security.PasswordManagement.Encryption"></section>
  </configSections>
  <appSettings>


    <!--TODO: remove-->
    <add key="testUserName" value="cbarba" />

    <add key="UseHeaderAuthentication" value="False" />
    <add key="UseWindowsDatabaseAuthentication" value="True" />
    <add key="LoggerApplicationName" value="GAMobile - Events Promotions" />
    <add key="DisplayAppName" value="GAMoblie - Events Promotions" />
    <add key="secureIDDomain" value="phillips66" />

    <!-- AD Web Service -->
    <add key="PsxCommonWs-LOCAL" value="https://commonws-d.phillips66.net/" />
    <add key="PsxCommonWs-DEVELOPMENT" value="https://commonws-d.phillips66.net/" />
    <add key="PsxCommonWs-TEST" value="https://commonws-t.phillips66.net/" />
    <add key="PsxCommonWs-PRODUCTION" value="https://commonws.phillips66.net/" />

    <!-- Application Service -->
    <add key="EventsPromotionsWS-LOCAL" value="http://localhost:42897/" />
    <add key="EventsPromotionsWS-DEVELOPMENT" value="https://ditws-d.phillips66.net/GAMobileWS/" />
    <add key="EventsPromotionsWS-TEST" value="https://ditws-t.phillips66.net/GAMobileWS/" />
    <add key="EventsPromotionsWS-PRODUCTION" value="https://ditws.phillips66.net/GAMobileWS/" />

    <!-- WingPoints Service -->
    <add key="WingPointsWs-LOCAL" value="https://www.rewardsbutler.com/api/" />
    <add key="WingPointsWs-DEVELOPMENT" value="https://www.rewardsbutler.com/api/" />
    <add key="WingPointsWs-TEST" value="https://www.rewardsbutler.com/api/" />
    <add key="WingPointsWs-PRODUCTION" value="https://www.rewardsbutler.com/api/" />


    <!-- Service Account-->
    <add key="secureID-LOCAL" value="wss_evtpromo-d" />
    <add key="secureID-DEVELOPMENT" value="wss_evtpromo-d" />
    <add key="secureID-TEST" value="wss_evtpromo-t" />
    <add key="secureID-PRODUCTION" value="wss_evtpromo-p" />

    <!-- Application Roles -->
    <add key="USER-LOCAL" value="webservices" />
    <add key="USER-DEVELOPMENT" value="webservices" />
    <add key="USER-TEST" value="webservices" />
    <add key="USER-PRODUCTION" value="webservices" />

  </appSettings>
  <encryptedAccountsSection>
    <encryptedAccounts>
      <!-- TODO: Remove this -->
      <add name="testPassword" encryptedPassword="yOIQdbInxZ3mC0RwvAjFHxEGP85PFOwcVXJZokouyoY=" />
    </encryptedAccounts>
  </encryptedAccountsSection>
  <secureAccountsSection passwordPolicy="AllowLocalPasswordsForADAccounts">
    <secureAccounts>
      <add name="secureIDPW-LOCAL" object="GAMOBILE-wss_evtpromo-d-Development" appId="APP_GAMOBILE" safe="AS-GAMOBILE-DT" cachePolicy="frequency=weekly;day=Saturday;startTime=18:00;endTime=20:00" />
      <add name="secureIDPW-DEVELOPMENT" object="GAMOBILE-wss_evtpromo-d-Development" appId="APP_GAMOBILE" safe="AS-GAMOBILE-DT" cachePolicy="frequency=weekly;day=Saturday;startTime=18:00;endTime=20:00" />
      <add name="secureIDPW-TEST" object="GAMOBILE-wss_evtpromo-t-Test" appId="APP_GAMOBILE" safe="AS-GAMOBILE-DT" cachePolicy="frequency=weekly;day=Saturday;startTime=18:00;endTime=20:00" />
      <add name="secureIDPW-PRODUCTION" object="GAMOBILE-wss_evtpromo-p-Production" appId="APP_GAMOBILE" safe="AS-GAMOBILE-P " cachePolicy="frequency=weekly;day=Saturday;startTime=18:00;endTime=20:00" />

    </secureAccounts>
  </secureAccountsSection>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <!--<authentication mode="Windows" />
    <authorization>
      <allow roles="phillips66\webservices, phillips66\wss_evtpromo-d" />
      <deny users="*" />
    </authorization>-->
    <roleManager cacheRolesInCookie="true" defaultProvider="CustomRoleProvider" enabled="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="EventsPromotions.Services.Common.CustomRoleProvider, EventsPromotions.Services, Version=1.0.0.0, Culture=neutral" />
      </providers>
    </roleManager>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
      <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".eot" />
          <remove fileExtension=".svg" />
          <remove fileExtension=".ttf" />
          <remove fileExtension=".woff" />
          <remove fileExtension=".woff2" />
          <add fileExtension=".eot" allowed="true" />
          <add fileExtension=".svg" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".wof2" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>