<div class="content-heading">
    {{title}}
    <small>{{subtitle}}</small>
</div>



<kendo-grid [data]="gridView" [height]="500" [skip]="state.skip" [pageSize]="state.take" [pageable]="true" [sortable]="true"
    [sort]="state.sort" (pageChange)="pageChange($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
    (add)="addHandler($event)">

    <!--<!--<kendo-grid-column field="Location.LocationId" title="Location Id"></kendo-grid-column>-->

    <kendo-grid-toolbar>
        <div class="row">
            <div class="col-md-2">
                <kendo-combobox [data]="locationComboBoxList" [textField]="'LocationNameAirportCode'" [valueField]="'LocationId'" [placeholder]="'Select Location'"
                    [value]="selectedLocation" [filterable]="true" (filterChange)="locationFilter($event)" (selectionChange)="locationSelection($event)"
                    (click)="locationFill()" class="col">
                </kendo-combobox>
            </div>
            <div class="col-md-9">
                <input (keyup.enter)="onSearchButtonClick()" [(ngModel)]="searchText" placeholder="Search Locations" class="k-textbox" />
                <button kendoGridAddCommand class="btn btn-primary k-button " (click)="onSearchButtonClick()">Search Locations</button>
            </div>
            <div class="col">
                <button kendoGridAddCommand class="btn btn-green k-button k-grid-add-command pull-right col">Add New</button>
            </div>
            <div class="pull-right">
                Page Size: &nbsp;
                <select [(ngModel)]="state.take" (change)="loadGridView()" class="form-control input-sm pull-left width65">
                                            <option [ngValue]=10>10</option>
                                            <option [ngValue]=20>20</option>
                                            <option [ngValue]=50>50</option>
                                            <option [ngValue]=100>100</option>
                                        </select>

            </div>
        </div>
    </kendo-grid-toolbar>

    <kendo-grid-column field="LocationId" title="Location Id"></kendo-grid-column>-->
    <kendo-grid-column field="LocationName" title="Location Name"></kendo-grid-column>
    <kendo-grid-column field="LocationAddress" title="Address"></kendo-grid-column>
    <kendo-grid-column field="AirPortCity" title="Airport City"></kendo-grid-column>-->
    <!--<kendo-grid-column field="GeofenceId" title="Geofence Id"></kendo-grid-column>-->
    <kendo-grid-column field="GeofenceName" title="Geofence Name">
        <template kendoGridEditTemplate let-dataItem let-rowIndex=let-rowIndex>
            <kendo-combobox [data]="geofenceComboBoxList" [textField]="'GeofenceName'" [valueField]="'GimbalGeofenceId'" [placeholder]="'Select Geofence'"
                [value]="selectedGeofence" [filterable]="true" (selectionChange)="geofenceSelection($event)" (filterChange)="geofenceFilter($event)"
                (click)="geofenceFill()">
            </kendo-combobox>
        </template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Actions" width="220">
        <template let-isNew="isNew">
            <!-- edit command directive, will be visible when not in edit mode -->
            <button kendoGridEditCommand class="btn btn-success btn-outline">Edit</button>
            <!-- save command directive, will be visible when in edit mode -->
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <!-- cancel command directive, will be visible when in edit mode -->
            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
        </template>
    </kendo-grid-command-column>
</kendo-grid>