<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail img-circle" src="http://itapps.phillips66.net/phonedirectory/home/GetImageHandler.ashx?id={{user.UserId}}&amp;Display=true" alt="Avatar" />
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name" [innerHTML]="user.FullName"></span>
    </div>
</div>
